# Arquivos e pastas do Maven
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.settings/
bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Arquivos temporários
*.tmp
*.bak
*.swp

# Arquivos compilados
*.class

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Dependências do Node.js (React)
frontend-web/node_modules/
frontend-web/build/

# Configurações do IntelliJ e VS Code dentro de backend-desktop e frontend-web
backend-desktop/.idea/
frontend-web/.idea/

# Arquivos desnecessários do React
frontend-web/.eslintcache
frontend-web/.next/
frontend-web/out/
frontend-web/.parcel-cache/

# Arquivos do Java/Maven que não precisam ser versionados
backend-desktop/logs/
backend-desktop/target/
backend-desktop/out/
backend-desktop/.classpath
backend-desktop/.project
backend-desktop/.settings/
backend-desktop/.factorypath
backend-desktop/.mvn/repository/
